@charset "utf-8";

/*--- common style ---*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.is-defaultText {
  color: #949697;
  font-size: 12px;
}

/*--- リンク ---*/
.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
/*--- common style end ---*/

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.form-title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

/*--- SNS part ---*/
.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  text-align: center;
  margin-top: 8px;
}

.devider {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}



/*--- form part ---*/
.form-content {
  margin-top: 20px;
}

/*--- 利用規約 ---*/
.agreement {
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

/*--- foot part---*/
.foot-part {
  text-align: center;
  margin-top: 32px;
}

.foot-part p, .resend-mail {
  line-height: 16px;
  font-size: 12px;
}

.resend-mail {
  margin-top: 8px;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.resend-mail {
  display: inline-block;
}

/* 自作 */

/* 共通 */
.form_siz {
  font-size: 12px;
  color: #4e4e4e;
}

.element__top {
  margin-top: 20px;
}

.wid {
  width: 100%;
}

.halfwid {
  width: 50%;
}

.common_state {
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.common_state:focus {
  background-color: #fff;
  outline: none;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgb(1 191 189 / 10%);
}

.common__shape {
  height: 36px;
  margin-top: 5px;
}

.asterisk__color {
  color: #dd4b39;
}

/* 氏名 */
.name_form {
  display: flex;
}

.name_left {
  margin-left: 16px;
}

.name_form p {
  margin-left: 16px;
}

.name_form p:first-child {
  margin-left: 0;
}

.name_form input {
  box-sizing: border-box;
  width: 100%;
}

/* 性別 */
.gender label,input,span {
  box-sizing: border-box;
}

.gender {
  display: flex;
  margin-top: 5px;
  font-size: 16px;
}

.gender div {
  margin-left: 15px;
}

.gender div:first-of-type {
  margin-left: 0;
}

.gender__top {
  margin-top: 5px;
  height: 20px;
}

.gender input {
  -webkit-appearance: none;
  appearance: none;
}

.gender input:first-child {
  display: none;
}

.gender label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor : pointer;
}

.gender input + label::before {
  position: absolute;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  left: 0;
}

.gender input + label::after {
  position: absolute;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #01bfbd;
  left: 4px;
  top: 7px;
  opacity: 0;
}

.gender input:checked+ label::after {
  opacity: 1;
}

/* 出身 */
.from__wrap select {
  position: relative;
  margin-top: 5px;
  height: 35px;
  width: 50%;
  padding: 5px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #545658;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.from__wrap {
  position: relative;
  width: 100%;
}

.from__wrap::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 239px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #d9d9d9;
  border-left: 2px solid #d9d9d9;
  transform: translateY(-50%) rotate(-135deg);
  pointer-events: none
}

/* 希望コース */
.chkbox div{
  margin-top: 10px;
}

.chkbox div:first-of-type {
  margin-top: 5px
}

.chkbox label,input,span {
  box-sizing: border-box;
  width: 100%;
}

.chkbox input {
  display: none;
  margin-right: 8px;
}

.chkbox label {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
}

.chkbox input + label::before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  left: 0;
  top: 0;
}

.chkbox input + label::after {
  content: '';
  position: absolute;
  display: block;
  width: 7px;
  height: 15px;
  transform: rotate(45deg);
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
  left: 5.5px;
  top: -4px;
  opacity: 0;
}

.chkbox input:checked + label::after {
  opacity: 1;
}

/* 備考 */
.biko_state {
  box-sizing: border-box;
  resize: none;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  padding: 10px 0 0 5px;
  font-size: 13px;
}

/* アカウント作成 */
.acount_made {
  height: 47px;
  border: 1px solid #01bfbd;
  border-radius: 3px;
  background-color: #01bfbd;
  color: #fff;
  cursor : pointer;
}

.acount_made:hover {
  background-color: #01a6a4;
}

.acount_made:active {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #01bfbd;
}








