@charset "utf-8";

/*--- common style ---*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.is-defaultText {
  color: #949697;
  font-size: 12px;
}

/*--- リンク ---*/
.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
/*--- common style end ---*/

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.form-title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

/*--- SNS part ---*/
.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  text-align: center;
  margin-top: 8px;
}

.devider {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}



/*--- form part ---*/
.form-content {
  margin-top: 20px;
}

/*--- 利用規約 ---*/
.agreement {
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

/*--- foot part---*/
.foot-part {
  text-align: center;
  margin-top: 32px;
}

.foot-part p, .resend-mail {
  line-height: 16px;
  font-size: 12px;
}

.resend-mail {
  margin-top: 8px;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.resend-mail {
  display: inline-block;
}

/* 自作 */
.form_siz {
  font-size: 12px;
  color: #4e4e4e;
}

.element__top {
  margin-top: 20px;
}

.halfwid {
  width: 50%;
}

.asterisk__color {
  color: #dd4b39;
}

.name_form {
  display: flex;
}

.name_form p {
  margin-left: 16px;
}

.name_form p:first-child {
  margin-left: 0;
}

.name_form input {
  box-sizing: border-box;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  width: 100%;
  height: 36px;
  margin-top: 5px;
}

.gender label,input,span {
  box-sizing: border-box;
}

.gender {
  display: flex;
  flex-flow: column;
}

.gender_top {
  margin-top: 5px;
}

.gender input {
  appearance: none;
}

.gender__top {
  margin-top: 9px;
}

.gender label {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
}

.gender input:first-child {
  display: none;
}

.gender input {
  margin-right: 8px;
}

.gender input + label::before {
  position: absolute;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  left: 0;
  top: 0;
}

.gender input + label::after {
  position: absolute;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #01bfbd;
  left: 4px;
  top: 4px;
  opacity: 0;
}

.gender input:checked+ label::after {
  opacity: 1;
}


.acount_made {
  width: 100%;
  height: 47px;
  border: 1px solid #01bfbd;
  border-radius: 3px;
  background-color: #01bfbd;
  color: #fff;
}

.biko_state {
  box-sizing: border-box;
  resize: none;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 10px 0 0 5px;
  font-size: 13px;
}

.common_state {
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-top: 5px;
  height: 36px;
}

.common_state:focus {
  background-color: #fff;
  border-color: #8fbc8f;
  outline: none;
  box-shadow: 10px rgba(0, 243, 212, 0.8);
}

.from_state {
  width: 50%;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-top: 5px;
  height: 32px;
}

.chkbox__top {
  display: block;
  margin-top: 8px;
}

.common_chkbox {
  display: flex;
  flex-flow: column;
}

.chkbox label,input,span {
  box-sizing: border-box;
}

.chkbox input {
  display: none;
  appearance: none;
  margin-right: 8px;
}

.chkbox label {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  margin-top: 8px;
}

.chkbox label:first-of-type {
  margin-top: 3px;
}

.chkbox input + label::before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  left: 0;
  top: 0;
}

.chkbox input + label::after {
  content: '';
  position: absolute;
  display: block;
  width: 7px;
  height: 15px;
  transform: rotate(45deg);
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
  left: 5.5px;
  top: -4px;
  opacity: 0;
}

.chkbox input:checked + label::after {
  opacity: 1;
}